
<header-top></header-top>

<article ng-class="{'loader-gif': $ctrl.loaderCheck()}">
    <h1 ng-bind="$ctrl.routeParams.pageName === 'abouts' ? $ctrl.changeTitle().cutLastSymbol() : $ctrl.changeTitle().allSymbols()"></h1>
    <button ng-if="$ctrl.Authorization() && $ctrl.getUser().email === $ctrl.getCreatorEmailByHeader()" class="btn btn-primary" type="button" ng-click="$ctrl.add()" ng-bind="$ctrl.routeParams.pageName === 'abouts' ? 'Create' : 'Add'"></button>
    <h4 data-ng-if="!$ctrl.items && !$ctrl.items.length">You must register or log in to your account and create the necessary info.</h4>
    <ol>
      <li data-ng-repeat="item in $ctrl.items">
        <h3>
          <a ng-attr-target="{{$ctrl.routeParams.pageName === 'companies' || $ctrl.routeParams.pageName === 'projects' ? '_blank' : '_self'}}" ng-if="$ctrl.routeParams.pageName !== 'scripts'" ng-href="{{item.link}}" ng-bind="item.title"></a>
          <span ng-if="$ctrl.routeParams.pageName === 'scripts'" ng-bind="item.title"></span>
        </h3>
        
        <p ng-bind="item.description"></p>
        <button ng-if="$ctrl.routeParams.pageName === 'scripts'" class="btn btn-primary" type="button" ng-click="$ctrl.loadScript(item)">Load Script</button>

        <div class="control-btns" ng-if="$ctrl.Authorization() && $ctrl.getUser().email === $ctrl.getCreatorEmailByHeader() || $ctrl.getUser().role === 'Admin'">
          <button class="btn btn-primary" type="button" ng-click="$ctrl.update(item, $index)">Update</button>
          <button class="btn btn-danger" type="button" ng-click="$ctrl.delete(item._id, $index)">Delete</button>
        </div>
      </li>
    </ol>

    <pagination></pagination>

</article>