
body {
  &, * {
    font-family: Verdana, Geneva, sans-serif;
  }
}

.container {
  margin-top: 70px;
}

ul, ol {
  padding-left: 0;
  li {
    list-style: none;
  }
}

.clear-fix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.no-padding-children {
  * {
    padding: 0;
  }
}

.no-margin-children {
  * {
    margin: 0;
  }
}

.control-btns {
  margin-top: 10px;
}